body{
	background-color: whitesmoke;
	padding: 2px;
}
.shoppingContainer{
	max-width: 400px;
	border: 1px ;
	/*background-color: lightgrey;*/
	margin-left: 450px;
}
header{
	background-color: lightgrey;
	padding:16px;

}
li{
	padding: 16px;
	border:1px solid;
	list-style-type: none;
	margin-left: -40px;
	max-height: 16px; 
}
span{
	cursor: pointer;
	padding: 10px;
	max-height: 16px;
	position: inherit;
	float: right;
	margin-top:-13px;
}
.itemContainer{
	max-width: 400px;
	border: 1px;
	padding: 16px;
	background-color: lightgrey;
}
.outer{
	margin-top: 2px;
	margin-left: -15px;
	padding: 8px;
}
.inputBox{
	width: 300px;
	height: 35px;
	font-family: sans-serif;
}
.btn{
	margin-left: 305px;
	opacity: 0.7;
}
button {
	background-color: lightgreen;
	width: 60px;
	text-align: center;
	height: 40px;
	float:right;

}
p{
	color: red;
}